@tailwind base;
@tailwind components;
@tailwind utilities;

.cartt {
        width: 90%;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: wrap;
        margin: 5px 0;

        @media only screen and (min-width: 800px) {
                width: 70%;
        }
}